body {
    background: linear-gradient(120deg, #ff512f, #dd2476);
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
}

.quoteContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
}

p:hover {
    color: black;
}

button {
    background-color: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(120deg, #ffafbd, #ffc3a0);
    border: 2px solid rgb(0, 0, 0);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
    opacity: 0.95;
    cursor: pointer;
}